<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>CommercePal</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>commercepal</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(FLUTTER_BUILD_NAME)</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>$(FLUTTER_BUILD_NUMBER)</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    
    <!-- URL Schemes -->
    <key>CFBundleURLTypes</key>
    <array>
        <!-- Deep Linking -->
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>commercepal</string>
            </array>
            <key>CFBundleURLName</key>
            <string>com.commercepal.app</string>
        </dict>
        <!-- Facebook Login -->
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>fb572171085557774</string>
            </array>
        </dict>
        <!-- Google Sign In -->
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.842396421818-ak3ugpi44r8c0ckorr1dvlm4a8623fh5</string>
            </array>
        </dict>
    </array>

    <key>FacebookAppID</key>
    <string>572171085557774</string>
    <key>FacebookClientToken</key>
    <string>c1c13950caefef29cad6ac6f2fceb707</string>
    <key>FacebookDisplayName</key>
    <string>CommercePal</string>
    <key>GIDClientID</key>
    <string>842396421818-ak3ugpi44r8c0ckorr1dvlm4a8623fh5.apps.googleusercontent.com</string>

    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>https</string>
        <string>http</string>
    </array>

    <key>NSLocationWhenInUseUsageDescription</key>
    <string>This app needs access to location when open to show you nearby stores and delivery options.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>This app needs access to location when in the background to show you nearby stores and delivery options.</string>
    <key>NSCameraUsageDescription</key>
    <string>This app needs camera access to scan QR codes</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>This app needs photos access to get QR code from photo library</string>
    <key>NSContactsUsageDescription</key>
    <string>We need access to your contacts to invite your friends.</string>

    <key>UIBackgroundModes</key>
    <array>
        <string>fetch</string>
        <string>remote-notification</string>
    </array>

    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    
    <!-- Firebase Configuration -->
    <key>FirebaseAppDelegateProxyEnabled</key>
    <true/>
    <key>FirebaseAutomaticScreenReportingEnabled</key>
    <true/>
    <key>FirebaseAnalyticsCollectionEnabled</key>
    <true/>
    <key>FirebaseCrashlyticsCollectionEnabled</key>
    <true/>
    <key>FirebasePerformanceCollectionEnabled</key>
    <true/>
    <key>FirebaseMessagingAutoInitEnabled</key>
    <true/>
</dict>
</plist>
